


html {
  //плавный скролл по нажатию на якоря:
  scroll-behavior: smooth;

  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  // min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  background-color: $back;
  color: $text
}

.container {
  --width: 1256px;
  --padding: 43px;
  max-width: calc(var(--width) + var(--padding) * 2);
  margin: 0 auto;
  padding: 0 var(--padding);

}

